h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif; }

p {
  font-family: "Lato", sans-serif; }

.js-scrolltop {
  transition: all .5s;
  position: fixed;
  bottom: -55px;
  right: 40px;
  border: 0;
  background: #f57e57;
  color: #fff;
  z-index: 9999;
  border-radius: 50%;
  font-size: 2em;
  padding: 6px 19px; }
  .js-scrolltop:active, .js-scrolltop:focus {
    outline: 0; }
  .js-scrolltop.active {
    bottom: 70px; }
  .js-scrolltop:hover {
    background: #18afd3; }
  .js-scrolltop .fa {
    font-size: 12px; }

#header {
  position: relative;
  z-index: 100; }
  #header .top {
    margin-top: 50px; }
    #header .top .addres {
      display: flex; }
      #header .top .addres .left {
        padding: 10px;
        border: 1px solid;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
        background: #e5e5e5;
        border-color: #e5e5e5; }
        #header .top .addres .left i {
          font-size: 24px;
          color: #0288d1;
          margin-top: 2px; }
      #header .top .addres .right_number {
        margin-top: 3px;
        margin-left: 20px; }
        #header .top .addres .right_number a {
          font-size: 16px;
          color: #43446d; }
  #header .js-nav-bar {
    transition: all 0.2s; }
    #header .js-nav-bar.active {
      width: 100%;
      height: 60px;
      background: #18afd3;
      position: fixed;
      top: 0; }
    #header .js-nav-bar .nav-bar {
      width: 1100px;
      height: 60px;
      align-items: center;
      background: #18afd3;
      box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
      border-radius: 6px;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      left: 105px;
      top: 100px; }
      #header .js-nav-bar .nav-bar.activate {
        box-shadow: none;
        top: 0;
        position: fixed; }
      #header .js-nav-bar .nav-bar .inner-text {
        display: none;
        margin-left: 50px;
        margin-top: 16px;
        width: 256px;
        float: left;
        color: white;
        transition: .3s; }
        #header .js-nav-bar .nav-bar .inner-text.js-in {
          display: block; }
      #header .js-nav-bar .nav-bar .ul-nav {
        transition: all .3s;
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0; }
        #header .js-nav-bar .nav-bar .ul-nav.deactive {
          display: none; }
        #header .js-nav-bar .nav-bar .ul-nav li {
          padding: 19.5px 24px;
          float: left;
          position: relative;
          transition: 180ms ease-in-out; }
          #header .js-nav-bar .nav-bar .ul-nav li:hover {
            background: #f57e57; }
          #header .js-nav-bar .nav-bar .ul-nav li a {
            position: relative;
            display: inline-block;
            vertical-align: middle;
            text-decoration: none;
            color: white; }
          #header .js-nav-bar .nav-bar .ul-nav li i {
            margin-left: 10px;
            font-size: 12px;
            color: white; }
      #header .js-nav-bar .nav-bar .search {
        float: right;
        margin-right: 56px; }
        #header .js-nav-bar .nav-bar .search i {
          margin-top: 24px !important;
          color: white !important; }
    #header .js-nav-bar .nav-mega {
      opacity: 0;
      box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
      width: 1100px;
      height: 425px;
      background: white;
      margin-left: auto;
      margin-right: auto;
      position: absolute;
      margin-left: 105px;
      margin-top: 108px;
      list-style-type: none;
      transition: all .4s; }
      #header .js-nav-bar .nav-mega h3 {
        margin-left: 30px; }
      #header .js-nav-bar .nav-mega .nav-none-menu {
        margin-left: 27px; }
        #header .js-nav-bar .nav-mega .nav-none-menu li {
          margin-top: 18px; }
          #header .js-nav-bar .nav-mega .nav-none-menu li:hover a {
            color: #f57e57;
            margin-left: 20px; }
          #header .js-nav-bar .nav-mega .nav-none-menu li:hover i {
            opacity: 1; }
          #header .js-nav-bar .nav-mega .nav-none-menu li a {
            text-decoration: none;
            color: #18afd3;
            transition: .2s; }
          #header .js-nav-bar .nav-mega .nav-none-menu li i {
            color: #f57e57;
            opacity: 0;
            transition: .2s; }
      #header .js-nav-bar .nav-mega .text-subline {
        width: 300px;
        margin-left: 32px; }
        #header .js-nav-bar .nav-mega .text-subline::before {
          content: '';
          position: absolute;
          top: 66px;
          left: 47px;
          height: 1px;
          width: 50px;
          background: #f57e57; }
    #header .js-nav-bar .nav-mega.active {
      opacity: 222; }
  #header .drop {
    opacity: 0; }
    #header .drop.active {
      opacity: 333; }
  #header .galery-dropdown {
    position: absolute;
    top: 60px;
    width: 240px;
    height: 204px;
    background: white;
    right: 343px;
    margin-top: 101px;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2); }
    #header .galery-dropdown > li {
      cursor: pointer;
      margin-left: -9px;
      padding: 19.5px 22px; }
      #header .galery-dropdown > li:hover a {
        color: #f57e57;
        margin-left: 10px;
        text-decoration: none; }
      #header .galery-dropdown > li:hover i {
        opacity: 1; }
      #header .galery-dropdown > li > a {
        color: #18afd3; }
    #header .galery-dropdown i {
      opacity: 0;
      color: #f57e57;
      font-size: 13px;
      color: #f57e57; }
    #header .galery-dropdown hr {
      margin-top: -7px;
      margin-bottom: -2px;
      margin-left: 20px;
      border: 0;
      border-top: 1px solid #eee;
      width: 170px; }
  #header .drop1 {
    opacity: 0; }
    #header .drop1.active {
      opacity: 333; }
  #header .galery-dropdown1 {
    position: absolute;
    top: 60px;
    width: 240px;
    height: 256px;
    background: white;
    right: 213px;
    margin-top: 101px;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2); }
    #header .galery-dropdown1 > li {
      cursor: pointer;
      margin-left: -9px;
      padding: 19.5px 22px; }
      #header .galery-dropdown1 > li:hover a {
        color: #f57e57;
        margin-left: 10px;
        text-decoration: none; }
      #header .galery-dropdown1 > li:hover i {
        opacity: 1; }
      #header .galery-dropdown1 > li > a {
        color: #18afd3; }
    #header .galery-dropdown1 i {
      opacity: 0;
      color: #f57e57;
      font-size: 13px;
      color: #f57e57; }
    #header .galery-dropdown1 hr {
      margin-top: -7px;
      margin-bottom: -2px;
      margin-left: 20px;
      border: 0;
      border-top: 1px solid #eee;
      width: 170px; }
  #header .image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 345px;
    margin-top: 80px;
    background-image: url(../img/back.jpg); }
    #header .image .text h1 {
      margin-top: 100px;
      color: white;
      line-height: 1.25;
      font-size: 80px; }
    #header .image .page {
      margin-top: 85px; }
      #header .image .page li {
        float: left;
        margin-left: 20px; }
        #header .image .page li a {
          color: white; }
      #header .image .page i {
        float: left;
        margin-left: 21px;
        margin-top: 6px;
        font-size: 10px;
        color: lightskyblue; }

#content {
  height: 1180px;
  margin-top: 100px; }
  #content label {
    transform: none;
    color: #868686;
    font-size: 14px; }
  #content .login input {
    width: 470px;
    height: 46px; }
  #content .login button {
    width: 123.1px;
    height: 46px;
    background: #f57e57;
    border-radius: 25px;
    color: white; }
    #content .login button:hover {
      background: #18afd3; }
  #content .contact {
    margin-top: 100px; }
    #content .contact input {
      width: 360px;
      height: 46px;
      margin-left: 10px; }
    #content .contact label {
      margin-left: 10px; }
    #content .contact .form-group {
      float: left; }
    #content .contact form {
      margin-left: -10px; }
    #content .contact textarea {
      margin-left: 10px;
      width: 732px;
      height: 150px;
      border-radius: 5px;
      color: #868686; }
    #content .contact button {
      margin-left: 10px;
      width: 171.1px;
      height: 46px;
      background: #f57e57;
      border-radius: 25px;
      color: white; }
      #content .contact button:hover {
        background: #18afd3; }
  #content .news {
    margin-top: 100px; }
    #content .news input {
      width: 390px;
      height: 46px;
      border-color: #f54b0f;
      border-radius: 25px; }
    #content .news button {
      width: 160.1px;
      height: 46px;
      background: #f54b0f;
      border-radius: 25px;
      color: white;
      margin-left: -40px; }
      #content .news button:hover {
        background: #f54b0f; }
    #content .news p {
      font-family: "Lato",Helvetica,Arial,sans-serif;
      font-size: 15px;
      line-height: 1.6;
      color: #868686; }

#footer {
  height: 350px;
  margin-top: 100px;
  background: #038eaf; }
  #footer .row {
    margin-top: 50px; }
  #footer .bottom ul {
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 0;
    list-style: none;
    margin-top: 90px; }
    #footer .bottom ul li {
      cursor: pointer;
      display: inline-block;
      border: 1px solid black;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: white;
      border-color: white;
      margin-left: 10px; }
      #footer .bottom ul li:hover {
        background: #f57e57; }
      #footer .bottom ul li i {
        font-size: 18px;
        padding-left: 12px;
        padding-top: 10px;
        color: #868686; }
  #footer .medium h4 {
    color: white; }
  #footer .medium hr::before {
    content: '';
    position: absolute;
    top: 49px;
    left: 14px;
    height: 1px;
    width: 53px;
    background: #f57e57; }
  #footer .medium .text {
    display: flex;
    margin-top: 25px; }
    #footer .medium .text i {
      font-size: 23px;
      color: #f57e57; }
  #footer .medium .marg-left {
    margin-left: 15px; }
  #footer .medium .text1 a {
    color: white;
    font-size: 14px; }
  #footer .medium .text2 a {
    color: white;
    font-size: 14px; }
  #footer .medium .text3 a {
    color: #f57e57;
    font-size: 14px; }
  #footer .right h4 {
    color: white; }
  #footer .right hr::before {
    content: '';
    position: absolute;
    top: 49px;
    left: 14px;
    height: 1px;
    width: 53px;
    background: #f57e57; }
  #footer .right p {
    color: rgba(255, 255, 255, 0.2);
    margin: 0 0 12px;
    font-size: 16px; }
  #footer .right input {
    height: 40px; }
  #footer .right button {
    height: 40px;
    margin-left: -11px;
    border-radius: 7px;
    background: #f57e57;
    border-color: #f57e57;
    color: white; }
    #footer .right button:hover {
      background: #18afd3;
      border-color: #18afd3; }
  #footer .foot-bottom {
    height: 60px;
    margin-top: 34px;
    border-top: 1px solid #0798a7; }
    #footer .foot-bottom p {
      margin-top: 20px;
      color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=style.css.map */
