$fontLoto: 'Lato', sans-serif;
$fontOswald: 'Oswald', sans-serif;
$backgroundBlue:#18afd3;
$backgroundOrange:#f57e57;
$darkblue:#0288d1;
h1,h2,h3,h4,h5,h6{
  font-family: $fontOswald;
}
p{
    font-family: $fontLoto;
}
.js-scrolltop {
    &:active,&:focus {
        outline:0;
    }
    &.active {
        bottom:70px;
    }
    &:hover {
        background:$backgroundBlue;
    }
    transition:all .5s;
    position:fixed;
    bottom:-55px;
    right:40px;
    border:0;
    background:$backgroundOrange;
    color:#fff;
    z-index:9999;
    border-radius:50%;
    font-size:2em;
    padding:6px 19px;
    .fa{
        font-size: 12px;
    }
}
#nav{
    left: -100%;
    position: fixed;
    width: 300px;
    height: 100%;
    background: white;
    z-index: 222;
    overflow-y: auto; 
    transition:all .2s;
    &.active {
        left:0;
    }
    input{
            width: 211px;
            margin-top: 80px;
            height: 42px;
            margin-left: 42px;
    }
    .nav{
            margin-left: 55px;
            li{
                    margin-top: 10px;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 24px;
                    color: $backgroundOrange;
            }
            a{
                color: $backgroundOrange;
                cursor: pointer;
                &:hover{
                    background: none;
                    color: none;
                }
            }
    }
    .js__inner{
            margin-top: 30px;
            display: none;
    }
    .js__inner.active1 {
               display: block;
               transition: all 0.3s;
    }
    .js_inner{
        display: flex;
        margin-top: 20px;
        li{
        font-size: 12px;
        font-weight: 500;
        margin-left: -150px;
         margin-top: 7px;
        }
        i{
                margin-left: 80px;
                margin-top: 12px;
                font-size: 20px;
                cursor: pointer;
        }
    }
}
.head-top{
    width: 100%;
    height: 70px;
    display: none;
     margin-top: -80px;
    //margin-top: -49px;
    i{
        display: inline-block;
        position: relative;
        width: 48px;
        height: 48px;
        font-size: 30px;
        line-height: 48px;
        text-align: center;
        cursor: pointer;
        color: #212121;
        background: none;
        border: none;
        outline: none;
        padding: 0;
        margin-top: 10px;
        margin-left: 10px;
    }
    .fa.pull-right{
        margin-right: 20px;
    }
    @media(max-width:1200px){
        display: block;
        position: fixed;
        z-index: 333;
        background: white;
    }
}
#header{
    position: relative;
    z-index: 100;
    .top{
        margin-top: 50px;
        .addres{
             display: flex;
             .left{
                     padding: 10px;
                    border: 1px solid;
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    background: #e5e5e5;
                    border-color: #e5e5e5;
                    i{
                            font-size: 24px;
                            color: #0288d1;
                            margin-top: 2px;
                    }
             }
             .right_number{
                 margin-top: 3px;
                 margin-left: 20px;
                 a{
                     font-size: 16px;
                     color: #43446d;
                 }
             }
          }       
    }
    .js-nav-bar{
        transition: all 0.2s;
        //    margin-top: 48px;
        //    width: 100%;
        //    height: 60px;
          // background: #18afd3;
        &.active{
            //margin-top: 48px;
            width: 100%;
            height: 60px;
            background: #18afd3;
            position: fixed;
            top: 0;
        }
        .nav-bar{
            width: 1100px;
            height: 60px;
            align-items: center;
            background: #18afd3;
            box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
            border-radius: 6px;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            left: 105px;
            top: 100px;
            &.activate{
                box-shadow: none;
                top: 0;
                position: fixed;
            }
             .inner-text{
                    display: none;
                       margin-left: 50px;
                           margin-top: 16px;
                        width: 256px;
                        float: left;
                        color: white;
                        transition: .3s;
                    &.js-in{
                        display: block;
                    }
                }
            .ul-nav{
                transition: all .3s;
                list-style-type: none;
                margin-bottom: 0;
                padding-left: 0;
                  &.deactive{
                display: none;
            }
                li{
                       // height: 60px;
                            padding: 19.5px 24px;
                      // margin-left: 7px;
                       //margin-top: 5px;
                        float: left;
                        position: relative;
                        transition: 180ms ease-in-out;
                    //   &:last-child{
                    //       display: block !important;
                    //       i{
                    //           font-size: 15px;
                    //       }
                    //       &:hover{
                    //       background: #18afd3;
                    //       }
                    //   }
                        &:hover{
                            background: $backgroundOrange;
                        }
                     a{
                             position: relative;
                            display: inline-block;
                            vertical-align: middle;
                            text-decoration: none;
                            color: white;
                     }
                     i{
                            margin-left: 10px;
                            font-size: 12px;
                            color: white;
                     }
                }        
            }
              .search{
                    float: right;
                     margin-right: 56px;

                i{
                   //  margin-left: 20px !important;
                    margin-top: 24px !important;
                    color: white !important;
                }
            } 
        }
    .nav-mega{
           opacity: 0;      
            box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
            width: 1100px;
           // width: 100%;
            height: 425px;
            background: white;
            margin-left: auto;
            margin-right: auto;
            position: absolute;
            margin-left: 105px;
            margin-top: 108px;
            list-style-type: none;
            transition: all .4s;
            h3{
                    margin-left: 30px;
            }
            .nav-none-menu{
                margin-left: 27px;
                li{
                    margin-top: 18px;
                         &:hover{
                      a{
                       color: $backgroundOrange;
                        margin-left: 20px;
                      }
                       i{
                           opacity: 1;
                       }
                   }
                    a{
                        text-decoration: none;
                        color: #18afd3;
                        transition: .2s;
                    }
                    i{
                         color: $backgroundOrange;
                        opacity: 0;
                         transition: .2s;
                    }
                }
            }
            .text-subline{
                width: 300px;
                margin-left: 32px;
                &::before{
                    content: '';
                    position: absolute;
                    top: 66px;
                    left: 47px;
                    height: 1px;
                    width: 50px;
                    background: #f57e57;
                }
            }
    }
    .nav-mega.active{
        opacity: 222;
    }
    }
    .drop{
       opacity: 0;
          &.active{
                   opacity:333;
               }
    }
     .galery-dropdown{
                //opacity: 0;
                position: absolute;
                top: 60px;
                width: 240px;
                height: 204px;
                background: white;
                right: 343px;
               //  top: 161px;
                margin-top: 101px;
                box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
                >li{     
                    cursor: pointer;
                        margin-left: -9px;
                        padding: 19.5px 22px;
                             &:hover{
                      a{
                       color: $backgroundOrange ;
                        margin-left: 10px;
                        text-decoration: none;
                      }
                       i{
                           opacity: 1;
                       }
                   }
                        >a{
                            color: #18afd3;
                        }
                }
                i{
                        opacity: 0;
                       color: $backgroundOrange;
                        font-size: 13px;
                        color: $backgroundOrange;
                }
            hr{
                    margin-top: -7px;
                    margin-bottom: -2px;
                    margin-left: 20px;
                    border: 0;
                    border-top: 1px solid #eee;
                    width: 170px;
            }
            }
              .drop1{
                 opacity: 0;
          &.active{
                   opacity:333;
               }
    }
     .galery-dropdown1{
                //opacity: 0;
                position: absolute;
                top: 60px;
                width: 240px;
                height: 256px;
                background: white;
                right: 213px;
               //  top: 161px;
                margin-top: 101px;
                box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.2);
                >li{     
                    cursor: pointer;
                        margin-left: -9px;
                        padding: 19.5px 22px;
                             &:hover{
                      a{
                       color: $backgroundOrange ;
                        margin-left: 10px;
                        text-decoration: none;
                      }
                       i{
                           opacity: 1;
                       }
                   }
                        >a{
                            color: #18afd3;
                        }
                }
                i{
                        opacity: 0;
                       color: $backgroundOrange;
                        font-size: 13px;
                        color: $backgroundOrange;
                }
            hr{
                    margin-top: -7px;
                    margin-bottom: -2px;
                    margin-left: 20px;
                    border: 0;
                    border-top: 1px solid #eee;
                    width: 170px;
            }
            }
           .image{
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 100%;
                    height: 345px;
                    margin-top: 80px;
                    background-image: url(../img/back.jpg);
                    .text{
                        h1{
                                margin-top: 100px;
                                color: white;
                                line-height: 1.25;
                                font-size: 80px;
                        }
                    }
                    .page{
                        margin-top: 85px;
                        li{
                            float: left;
                            margin-left: 20px;
                            a{
                                color: white;
                            }
                        }
                        i{
                            float: left;
                            margin-left: 21px;
                            margin-top: 6px;
                            font-size: 10px;
                            color: lightskyblue;
                        }
                    }
           }
@media(max-width:1200px){
    .top,.nav-mega,.ul-nav,.nav-bar{
        display: none;
    }
  .image{
          height: 210px;
         .text h1{
                margin-top: 0px;
                font-size: 60px;
                line-height: 1.2;
                font-weight: 400;
                text-align: center;
                margin-top: 35px;
          }
       .text ul{
                margin-left: 210px;
                margin-top: 50px;
        }
  }
.blockquate{
   .col-md-8 .text-subline::before{
        top: 43px;
        display: none;
    }
}
}
}
 //headerin sonu
#content{
    height: 750px;
    margin-top: 100px;
  .size{
   hr{
       &::before{
               content: '';
                position: absolute;
               top: 49px;
                 left: 15px;
                height: 1px;
                width: 50px;
                background: #f57e57;
       }
   }
  }
button{
    background: $backgroundOrange;
    color: white;
    border-radius: 25px;
    border-color: $backgroundOrange;
    &:hover{
        background: $backgroundBlue;
        border-color:$backgroundBlue;
    }
}
.size{
    .one{
        width: 186px;
        height: 58px;
    }
    .two{
        width: 183px;
        height: 46px;
        margin-left: 20px;
    }
    .three{
        width: 120.88px;
        height: 40px;
        margin-left: 20px;
    }
}
.shape{
    margin-top: 100px;
   .one{
       width: 128.38px;
        height: 46px;
   }
   .two{
       width: 119.7px;
        height: 46px;
       border-radius: 6px;
       margin-left: 20px;
   }
.three{
    width: 125.45px;
    height: 46px;
    border-radius: 0px;
    margin-left: 20px;
}
}
.arrow{
    margin-top: 100px;
    .one{
        width: 188.2px;
        height: 46px;
        i{
            margin-left: 10px;
        }
    }
    .two{
        width: 188.2px;
        height: 46px;
        margin-left: 20px;
         i{
            margin-right: 10px;
        }
    }
}









}
#footer{
    margin-top: 100px;
    background: #038eaf;
    .row{
        margin-top: 50px;
    }
    .bottom{
        ul{
            margin-left: -5px;
            margin-right: -5px;
            padding-left: 0;
            list-style: none;
            margin-top: 90px;
            li{
                cursor: pointer;
                display: inline-block;
                border: 1px solid black;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background: white;
                border-color: white;
                margin-left: 10px;
                &:hover{
                    background: $backgroundOrange;
                    //color: white;
                }
                i{
                        font-size: 18px;
                        padding-left: 12px;
                        padding-top: 10px;
                        color: #868686;
                }
            }
        }
    }
.medium{
    h4{
        color: white;
    }
    hr{
        &::before{
            content: '';
            position: absolute;
            top: 49px;
            left: 14px;
            height: 1px;
            width: 53px;
            background: #f57e57;
        }
    }
.text{
    display: flex;
    margin-top: 25px;
    i{
            font-size: 23px;
            color: $backgroundOrange
    }
}
.marg-left{
        margin-left: 15px;
    } 
.text1{ 
    a{
        color: white;
        font-size: 14px;
    }
}
.text2{
    a{
        color: white;
        font-size: 14px;
    }
}
.text3{
    a{
        color: $backgroundOrange;
        font-size: 14px;
    }
}
}
.right{
   h4{
       color: white;
   }
    hr{
        &::before{
              content: '';
            position: absolute;
            top: 49px;
            left: 14px;
            height: 1px;
            width: 53px;
            background: #f57e57;
        }
    }
p{
            color: rgba(255, 255, 255, 0.2);
            margin: 0 0 12px;
            font-size: 16px;
}
input{
    height: 40px;
}
button{
    height: 40px;
        margin-left: -11px;
    border-radius: 7px;
    background: $backgroundOrange;
    border-color: $backgroundOrange;
    color: white;
    &:hover{
        background: $backgroundBlue;
        border-color: $backgroundBlue;
    }
}
}
.foot-bottom{
    height: 60px;
    margin-top: 34px;
    border-top: 1px solid #0798a7;
    p{
        margin-top: 20px;
        color: rgba(255, 255, 255, 0.5);
    }
}
}



